# Requirements
#
# Run the following commands to install the required packages:
# python3.11 -m venv .venv # On macOS/Linux
# py -3.11 -m venv .venv  # On Windows
# source .venv/bin/activate  # On macOS/Linux
# .venv\Scripts\activate  # On Windows
# pip install -r requirements.txt
# pip install spacy-transformers
# python -m spacy download en_core_web_sm
#
# Make sure these are ran to successfully run the code.

