acres==0.3.0
annotated-types==0.7.0
asgiref==3.8.1
beartype==0.20.0
blis==1.2.0
Brotli==1.1.0
camelot-py==1.0.0
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
ci-info==0.3.0
clean-text==0.6.0
cleantext==1.1.4
click==8.1.8
cloudpathlib==0.21.0
colorama==0.4.6
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
cryptography==44.0.2
cssselect2==0.8.0
cymem==2.0.11
Django==5.1.7
django-cors-headers==4.7.0
django-extensions==3.2.3
djangorestframework==3.15.2
docx==0.2.4
emoji==1.7.0
et_xmlfile==2.0.0
etelemetry==0.3.1
filelock==3.18.0
fonttools==4.56.0
fsspec==2025.3.0
ftfy==6.3.1
httplib2==0.22.0
huggingface-hub==0.29.3
idna==3.10
importlib_resources==6.5.2
isodate==0.6.1
Jinja2==3.1.6
joblib==1.4.2
langcodes==3.5.0
language_data==1.3.0
looseversion==1.3.0
lxml==5.3.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.12
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
nltk==3.9.1
numpy==2.2.4
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pdfkit==1.0.0
pdfminer.six==20240706
pillow==11.1.0
plum-dispatch==2.5.7
preshed==3.0.9
prov==2.0.1
puremagic==1.28
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydot==3.0.4
pydyf==0.11.0
Pygments==2.19.1
PyMuPDF==1.25.4
pypandoc==1.15
pypandoc_binary==1.15
pyparsing==3.2.1
pypdf==3.17.4
pypdfium2==4.30.1
pyphen==0.17.2
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.1
pyxnat==1.6.3
PyYAML==6.0.2
rdflib==6.3.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
rich==13.9.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==3.4.1
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smart-open==7.1.0
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.3
srsly==2.5.1
sympy==1.13.1
tabulate==0.9.0
thinc==8.3.4
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.21.1
torch==2.6.0
tqdm==4.67.1
traits==7.0.2
transformers==4.49.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
wrapt==1.17.2
rest_framework_simplejwt==0.0.2